<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ $description := site.Params.Win95.subtitle | default site.Title }}
{{ with .Description }}
  {{ $description = . }}
{{ else }}
  {{ if and .IsPage .Summary }}{{ $description = .Summary | plainify | htmlUnescape | truncate 160 }}{{ end }}
{{ end }}
<meta name="description" content="{{ $description }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.Title }} RSS" href="{{ "rss.xml" | absURL }}">
{{ if and .IsPage (in (slice "post" "note" "activity" "project") .Section) }}
  {{ with site.Params.IndieWeb.webmentionEndpoint }}<link rel="webmention" href="{{ . }}">{{ end }}
{{ end }}
{{ with site.Params.IndieWeb.metadataEndpoint }}
<link rel="indieauth-metadata" href="{{ . }}">
{{ end }}
{{ with site.Params.IndieWeb.authorizationEndpoint }}
<link rel="authorization_endpoint" href="{{ . }}">
{{ end }}
{{ with site.Params.IndieWeb.tokenEndpoint }}
<link rel="token_endpoint" href="{{ . }}">
{{ end }}
{{ with site.Params.Win95.favicon }}
<link rel="icon" href="{{ . | absURL }}">
{{ end }}
{{ $cssParts := slice
  (resources.Get "css/win95/00-base.css")
  (resources.Get "css/win95/10-desktop.css")
  (resources.Get "css/win95/20-dialogs.css")
  (resources.Get "css/win95/30-windows.css")
  (resources.Get "css/win95/40-explorer.css")
  (resources.Get "css/win95/50-responsive.css")
}}
{{ $css := $cssParts | resources.Concat "css/win95.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
